<h2>My heroes1</h2>
<div>
  <label>Hero name: </label>
  <input #heroName/>
  <button (click)="addHero(heroName.value); heroName.value=''">
    Add Hero
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelected(hero)" [class.selected]="hero===selectedHero">
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="delete" (click)="deleteHero(hero); $event.stopPropagation()">Delete</button>
  </li>
</ul>
<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} is my hero</h2>
  <button (click)="goToDetail()">View hero detail</button>
</div>
